.Row1 {
  border: 1px solid black;
  margin-top: 40px;
  overflow: auto;
  gap: 10px;
  width: 100%;
  height: 450px;
}
.Row1 > div {
  display: flex;
  gap: 10px;
  width: 130%;
}
.Row1 > div > div {
  border: 1px solid black;
  border-left: 1px solid black;
  display: grid;
  background-color: white;
  height: 400px;
  transform: rotate(270deg);
}

.Row1 > div > div > h2 {
  font-size: 25px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 400px;
  margin-right: 20px;
}

.Row1 > div > div > div {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: white;
  /* transform: rotate(90deg); */
}
.Row1 > div > div > div > img {
  width: 90%;
  height: 100%;
  margin-bottom: 6px;
  margin-top: 0px;
  margin-left: 10px;
  transform: rotate(90deg);
}

.Row3 {
  border: 1px solid black;
  margin-top: 40px;
  overflow: auto;
  gap: 10px;
  width: 100%;
  padding-bottom: 0px;
  height: 359px;
}

.Row3 > div {
  display: flex;
  gap: 10px;
  width: 132%;
}
.Row3 > div > div {
  border-left: 1px solid black;
  display: grid;
  background-color: white;
  height: 340px;
}

.Row3 > div > div > h2 {
  font-size: 25px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 400px;
  margin-right: 20px;
}
.Row3 > div > div > img {
  width: 85%;
  height: 70%;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 63px;
}
.Row4 {
  border: 1px solid black;
  margin-top: 100px;
  overflow: auto;
  width: 100%;
  padding-bottom: 0px;
  height: 359px;
}
.Row4 > div {
  display: flex;
  gap: 10px;
  width: 132%;
}
.Row4 > div > div {
  border-left: 1px solid black;
  display: grid;
  background-color: white;
  height: 340px;
}

.Row4 > div > div > h2 {
  font-size: 23px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 400px;
  margin-right: 20px;
}
.Row4 > div > div > img {
  width: 85%;
  height: 94%;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 63px;
  overflow: hidden;
}

.MOST {
  transform: rotate(270deg);
  font-size: 36px;
  line-height: 25px;
  text-align: center;
  float: left;
  margin-left: -114px;
  margin-top: 180px;
  position: absolute;
  background-color: white;
  padding: 10px;
  padding-top: 30px;
}
.mostdiv {
  border-bottom: 1px solid rgba(37, 35, 35, 0.665);
  margin-left: 0px;
  width: 100%;
  margin-top: 120px;
  overflow-x: auto;
  margin-left: 0px;
  padding-bottom: 80px;
}

.mostdiv > div {
  display: grid;
  padding-top: 10px;
  width: 100%;
  margin-top: 20px;
  margin-left: 80px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
  gap: 30px;
}
.mostdiv > div > h2 {
  font-size: 25px;
  width: 200px;
  text-align: left;
  line-height: 25px;
  font-weight: 600;
}
.mostdiv > div > h2:hover {
  cursor: pointer;
  color: blue;
}

.womens {
  border-bottom: 1px solid black;
  margin-left: 0px;
  width: 100%;
  margin-top: 60px;
  overflow-x: auto;
  margin-left: 0px;
  padding: 40px 0px;
}

.womens > div {
  display: grid;
  padding-top: 10px;
  margin-left: 120px;
  grid-template-columns: repeat(13, 1fr);
  justify-content: space-around;
  gap: 40px;
}

.womens > div > div > div {
  display: grid;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-left: -50px;
  width: 200px;
  margin-right: 100px;
  margin-top: -150px;
}
